:root {
    /* Colores */
    --color-fondo-secundario: #13161C;
    --color-fondo-primario: #ECECEC;
    --color-fondo-campo: #F1F1F1;
    --color-primario: #0C6432;
    --color-blanco: #fff;
    --color-negro: #000;
  
    /* Fuentes */
    --fuente-titulos: 'Montserrat Alternates', sans-serif;
    --fuente-texto: 'Montserrat', sans-serif;
  
    /* Tamaños */
    --peso-fuente-delgada: 300;
    --peso-fuente-normal: 400;
    --peso-fuente-bold: 600;
  
    /* Dispositivos */
    --celular: 480px;
    --tablet: 768px;
    --desktop: 1200px;
  }
  
  /* Configuración global */
  html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* Estilos del cuerpo */
  body {
    font-family: var(--fuente-texto);
    font-size: 1.6rem;
    line-height: 1.5;
  }
  
  /* Estilos generales */
  h1,
  h2,
  h3 {
    font-family: var(--fuente-titulos);
  }
  
  h1 {
    font-size: 4.4rem;
  }
  
  h2 {
    font-size: 3.6rem;
  }
  
  h3 {
    font-size: 2.8rem;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    margin: 0;
  }

 /* Utilidades */
.text-center {
    text-align: center;
}

.mostrarMenu {
    display: flex;
}

.ocultarMenu {
    display: none;
}

.boton {
    display: block;
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    color: var(--blanco);
    font-size: 1.8rem;
    border-radius: .5rem;
}

.opacity50 {
    opacity: 0.5;
}

.errorMensaje {
    color: rgb(199, 7, 7);
    font-size: 1rem;
}

.verde,
.verde:hover {
    background-color: var(--primario);
}

.verde:hover {
    background-color: #187e44;
    transition: all 0.3s ease-in-out;
}

.blanco,
.blanco:hover {
    background-color: var(--blanco);
    color: var(--negro);
    border: #707070 solid 1px;
}

.blanco:hover {
    background-color: #d3d3d3;
    transition: all 0.3s ease-in-out;
}

.negro,
.negro:hover {
    background-color: var(--negro);
}

.negro:hover {
    background-color: #1d1d1d;
    transition: all 0.3s ease-in-out;
}

/* Banner */
.banner {
    display: none;
    margin: 0;
    padding: .5rem;
    width: 100%;
    background-color: var(--primario);
}

.banner .banner__texto {
    color: var(--blanco);
    font-weight: bold;
}

@media (min-width: 480px) {
    .banner {
        display: block;
    }
}
/* Registro candidato */

.candidatoForm {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 10% 90%);
    height: 100vh;
}
@media (min-width: 1200px) { 
      .candidatoForm{
        grid-template-columns: repeat(2,30% 70%);
      }
 }

.candidatoForm__izquierda {
    width: 100%;
    /* border: #0a7bec solid 2px; */
    padding: 2rem;
    background-color: var(--fondoSec);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 768px) { 
      .candidatoForm__izquierda{
        padding: 3rem 2rem;
        align-items: center;
        
      }
 }

@media (min-width: 1200px) { 
    .candidatoForm__izquierda {
        display: block;
        width: 100%;
        /* border: #0a7bec solid 2px; */
        padding: 4rem;
        background-color: var(--fondoSec);
        height: 100vh;
    }
 }
.izquierda__logo{
    font-family: var(--fuentePri);
    font-weight: var(--bold);
}
@media (min-width: 1200px) { 
    .izquierda__logo{
        font-family: var(--fuentePri);
        font-weight: var(--bold);
        margin-bottom: 10rem;
    }
 }
.izquierda__logo a{
    color: var(--blanco);
    font-size: 2rem;
}
@media (min-width: 768px) { 
    .izquierda__logo a{
        color: var(--blanco);
        font-size: 2em;
    }
 }
@media (min-width: 1200px) { 
    .izquierda__logo a{
        color: var(--blanco);
        font-size: 3rem;
    }
 }

.izquierda__paso {
 margin-top: -0;
}

.izquierda__paso p{
    color: var(--blanco);
    font-size: 1.6rem;
    display: none;
}
.izquierda__paso h3{
    font-weight: var(--bold);
    font-size: 2rem;
    color: var(--blanco);
    display:block;
}


@media (min-width: 1200px) { 
    .izquierda__paso p{
        color: var(--blanco);
        font-size: 1.6rem;
        display: block;
    }   
    .izquierda__paso  h3{
        display: block;
        font-weight: var(--bold);
        font-size: 2.5rem;
    }
 }


.izquierda__flujo{
    display: none;
    flex-direction: column;
    gap: 3rem;
    margin-top: 5rem;
}
@media (min-width: 760px) { 
      .izquierda__flujo{
        display: flex;
        flex-direction: row;
        margin: 0;
      }
 }
@media (min-width: 1200px) { 
    .izquierda__flujo{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 5rem;
    }
 }
.flujo__paso{
    display: none;
    align-items: center;
    gap: 3rem;
}
@media (min-width: 768px) { 
    .flujo__paso{
        display: flex;
        align-items: center;
        gap: 3rem;
    }
 }
@media (min-width: 1200px) { 
    .flujo__paso{
        display: flex;
        align-items: center;
        gap: 3rem;
    } 
 }
.paso__circulo{
    border: #707070 1px solid;
    padding: 1rem;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paso__circulo p{
    color: #707070;
    font-size: 2rem;
}
.paso__texto p {
    color: #707070;

}
@media (min-width: 768px) { 
      .paso__texto p{
        display: none;
      }
 }
 @media (min-width: 1200px) { 
    .paso__texto p{
        display: flex;
      }
  }




.candidatoForm__derecha {
    /* border: #ec0a0a solid 1px; */
    width: 100%;
    height: auto;
    padding-left: 3rem;
    display: flex;
    align-items: center;
}
@media (min-width: 1200px) { 
    .candidatoForm__derecha {
        /* border: #ec0a0a solid 1px; */
        width: 100%;
        height: 100vh;
        padding-left: 3rem;
        display: flex;
        align-items: center;
    }
 }
@media (min-width: 1200px) { 
      .candidatoForm__derecha{
        padding-left: 5rem;
      }
 }
.derecha__contenido{
    /* border: #ec0a0a solid 1px; */
    width: 95%;
    height: auto;
    line-height: 1;

}
@media (min-width: 1200px) { 
    .derecha__contenido{
        /* border: #ec0a0a solid 1px; */
        width: 70%;
        height: auto;
        line-height: 1;
    
    }
 }
.derecha__titulo h3{
    margin-top: 15rem;
}
@media (min-width: 768px) { 
    .derecha__titulo h3{
        margin-top: .5rem;
    }
 }
.derecha__texto p{
    margin-bottom: 2rem;
}
@media (min-width: 1200px) { 
    .derecha__titulo h3{
        margin:1rem 0;
    }
    .derecha__texto p{
        margin-bottom: 1rem;
    }
 }
.derecha__formulario form{
    display:flex;
    flex-direction: column;

    
}
.ocultar{
    display: none;
}

@media (min-width: 1200px) { 
    #grid1 {
        
        grid-template-areas: 'nombre apellido'
                             'telefono fechaNacimiento'
                             'estado ciudad'
                             'derecha__botones derecha__botones';
                             gap: 2rem;
                             
                             
    }
    #grid2 {
        
        grid-template-areas: 'institucion institucion'
                             'fechaInicio fechaFin'
                             'titulo titulo'
                             'skills skills'
                             'derecha__botones derecha__botones';
                             gap: 2rem;
    }
    
    #grid3 {
      
        grid-template-areas: 'noExperiencia noExperiencia'
                             'empresa empresa'
                             'descripcion descripcion'
                             'cargo cargo'
                             'duracion duracion'
                             'derecha__botones derecha__botones';
                             
    }
    #grid5{
        
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
    }
    .mostrar{
        display: grid;
    }
    .ocultar{
        display: none;
    }
 }

 
.nombre{
    grid-area: nombre;
}
.apellido{
    grid-area: apellido;
}
.telefono{
    grid-area: telefono;
}
.fechaNaciomiento{
    grid-area: fechaNacimiento;
}
.estado{
    grid-area: estado;
}
.ciudad{
    grid-area: ciudad;
}
.derecha__botones{
    grid-area: derecha__botones;
    
    width: 100%;
    /* margin: 3rem 0; */
    margin-top: 2rem;
}
.derecha__botones a{
    margin-top: 2rem;
}

.institucion{
    grid-area: institucion;
}
.fechaInicio{
    grid-area: fechaInicio;
}
.fechaFin{
    grid-area: fechaFin;
}
.titulo{
    grid-area: titulo;
}
.skills{
    grid-area: skills;
}
.noExperiencia{
    grid-area: noExperiencia;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.empresa{
    grid-area: empresa;
}
.descripcion{
    grid-area: descripcion;
}

.cargo{
    grid-area: cargo;
}
.duracion{
    grid-area: duracion;
}

@media (min-width: 1200px) { 
    .derecha__botones{
        grid-area: derecha__botones;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        gap: 2rem;
        width: 40rem;
        margin-top: 2rem;
    }
 }

.flujo__paso{
    color: var(--blanco);
    
}

.activo{
    border: 1px var(--blanco) solid;
    
}
.activoTexto p{
    color: var(--blanco);
    border: none;

}

/* estilos para registro Foto */

.previewPerfil{

}
.previewPerfil__contenedor{
    /* border: #000 1px solid; */
    width: 100%;
    height: 30rem;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: repeat(2, 40% 60%);
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
    margin-top: 5rem;
}
@media (min-width: 768px) { 
    .previewPerfil__contenedor{
        /* border: #000 1px solid; */
        width: 100%;
        height: 30rem;
        border-radius: 1rem;
        display: grid;
        grid-template-rows: repeat(2, 40% 60%);
        box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
    }
 }
@media (min-width: 1200px) { 
    .previewPerfil__contenedor{
        /* border: #000 1px solid; */
        width: 70rem;
        height: 30rem;
        border-radius: 1rem;
        display: grid;
        grid-template-rows: repeat(2, 40% 60%);
        box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
    }
 }
.previewPerfil__portada{
    /* border: #000 1px solid; */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #D5EDFF;
    margin-top: -2rem;
}

.previewPerfil__foto{
    border: var(--blanco) 4px solid;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: gray;
    margin-top: -5rem;
    margin-left: 5rem;
    background-size: cover;
    background-position: center center;
}
.previewPerfil__portada{
    background-repeat: no repeat;
    background-position: center center;
    background-size: cover;
}
.previewPerfil__nombre{
    padding-left: 3rem;
}
.previewPerfil__ciudad{
    padding-left: 3rem;
    font-weight: var(--bold);
}
.previewPerfil__ciudad span{
    color: #0a7bec;
    font-weight: var(--normal);
}