:root {
    /* colores */
    --fondoSec: #13161C;
    --fondoPri: #ECECEC;
    --fondoCampo: #F1F1F1;
    --primario: #0C6432;
    --blanco: #fff;
    --negro: #000;


    /* Fuentes */

    --fuentePri: 'Montserrat Alternates', sans-serif;
    /* Titulos y subtitulos */
    --fuenteSec: 'Montserrat', sans-serif;
    /* texto en general*/

    /* tamaños */

    --delgada: 300;
    --normal: 400;
    --bold: 600;

    /* Dispositivos */

    --celular: 480px;
    --tablet: 768px;
    --desktop: 1200px;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    /* 1rem = 10px */

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteSec);
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Globlales */
h1,
h2,
h3 {
    font-family: var(--fuentePri);
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

/* utilidades */
.text-center {
    text-align: center;
}

.mostrarMenu {
    display: flex;
}

.ocultarMenu {
    display: none;
}

.boton {
    display: block;
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    color: var(--blanco);
    font-size: 1.8rem;
    border-radius: .5rem;
}

.opacity50{
    opacity: 0.5;
}

.errorMensaje{
    color: rgb(199, 7, 7);
    font-size: 1rem;
}

.verde {
    background-color: var(--primario);
}

.verde:hover {
    background-color: #187e44;
    transition: all 0.3s ease-in-out;
}

.blanco {
    background-color: var(--blanco);
    color: var(--negro);
}

.blanco:hover {
    background-color: #d3d3d3;
    transition: all 0.3s ease-in-out;
}

.negro {
    background-color: var(--negro);
}

.negro:hover {
    background-color: #1d1d1d;
    transition: all 0.3s ease-in-out;
}

/* Banner */
.banner {
    display: none;
    margin: 0;
    padding: .5rem;
    width: 100%;
    background-color: var(--primario);
}

.banner .banner__texto {
    color: var(--blanco);
    font-weight: bold;
}

@media (min-width: 480px) {
    .banner {
        display: block;
    }
}

/* Header */

.header {
    background-color: var(--fondoSec);
    height: 8rem;
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

@media (min-width: 390px) {
    .header {
        padding: 2rem 2rem;
    }

}


.header__logo p {
    color: var(--blanco);
    font-weight: bold;
    font-family: var(--fuentePri);
    font-size: 2rem;
    width: 20%;
}

@media (min-width: 480px) {
    .header__logo p {
        font-size: 3rem;
    }
}


.header__navegacion {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.header__navegacion a {
    color: gray;
    font-weight: var(--delgada);
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-right: 2rem;

}


.navegacion__enlace:hover {
    color: var(--blanco);
    transition: all 0.45s ease;
}

.navegacion__bloque1,
.navegacion__bloque2 {
    display: none;
}

.navegacion__bloque2 a:last-child {
    font-weight: bold;
    color: var(--blanco);
    font-size: 1.5rem;
}

.navegacion__bloque2 a:hover:last-child {
    color: var(--primario);
}

.navegacion__mobil {
    width: 5rem;
    display: flex;
}

.header__navegacionMobile {
    position: absolute;
    background-color: var(--fondoSec);
    height: 100vh;
    width: 80%;
    padding: 3rem 0;
    top: 0;
    right: 0;
}

.navegacion__enlace--cerrar img {
    width: 5rem;
}

.navegacionMobile__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    width: 100%;


}

.navegacionMobile__menu a {
    color: var(--blanco);
    font-size: 2rem;
    padding: 1rem;
}

.navegacionMobile__menu a:hover:not(:first-child) {
    background-color: var(--blanco);
    width: 100%;
    color: var(--negro);
    text-align: center;
}


@media (min-width: 769px) {
    .navegacion__mobil {
        display: none;
    }


    .navegacion__bloque1,
    .navegacion__bloque2 {
        display: flex;
    }
}

