/* pagina Nosotros */
.nosotros {
    margin: 3rem;
}

.nosotros p {
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .nosotros__texto h2 {
        font-size: 5rem;
    }
}

@media (min-width: 1200px) {
    .nosotros__contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
        width: 90%;
        margin: 0 auto;
        align-items: center;
    }
}