@use 'base/variables' as v;
@use 'base/mixins' as m;

.prospectos{
    display: flex;
    justify-content: center;
    padding: 0;
    height: auto;
    @include m.tablet{
        padding: 2rem 5rem;
        border-radius: .5rem;
       
    }
    &__contenedor{
        width: 100%;
        background-color: v.$blanco;
        padding: 2rem 5rem;
        height: auto;

      

        & h3{
            font-size: 2rem;
        }

    }

    &__cards{
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @include m.tablet{
            display: grid;
            grid-template-columns: repeat(4 ,1fr);
        }
        
    }
    
}