@use 'base/variables' as v;
@use 'base/mixins' as m;

.vacantes {
    display: flex;
    justify-content: center;

    @include m.tablet {
        padding: 2rem 5rem;
    }

    height: auto;

    &__contenedor {
        background-color: v.$blanco;
        width: 100%;
        border-radius: 0.5rem;
        padding: 2rem;

        @include m.tablet {
            width: 80%;
            padding: 2rem 5rem;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

        & h3 {
            font-size: 2rem;
            margin: 0;
            color: v.$negro;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        /* Ajusta el tamaño mínimo de las columnas */
        gap: 1rem;
        /* Reduce el espacio entre las cards */
        justify-items: center;
    }
}


.misVacantes__card {
    background-color: v.$blanco;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;

    .misVacantes__img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 1rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .misVacantes__datos {
        .titulo {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
            color: v.$negro;
        }

        .empresa {
            color: v.$primario;
            text-decoration: none;
            font-size: 0.9rem;
            font-weight: v.$bold;

            &:hover {
                text-decoration: underline;
            }
        }

        .salario,
        .cantidadVaca,
        .lugar {
            color: #666;
            font-size: 0.8rem;
            margin-bottom: 0.3rem;
        }

        .salario {
            color: v.$primario;
        }
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}