@use 'base/variables' as v;
@use 'base/mixins' as m;

.empleos {
    width: 100%;
    height: 100vh;

    &__contenedor {
        height: 100vh;
        margin: 0 auto;
        display: grid;
        gap: 2rem;
        @include m.tablet{
            grid-template-columns: repeat(2, 30% 70%);
            width: 80%;
            margin-top: 2rem;
        }
        @include m.desktop{
            grid-template-columns: repeat(3, 20% 50% 25%);
            width: 80%;
        }
      
    }
    &__izquierda {
        display: none;
        @include m.tablet{
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }   
        height: 100%;
        // border: solid 1px rgb(8, 51, 168);
        
    }

    &__central {
        height: 100%;
        border: solid 1px rgb(168, 8, 48);
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__derecha {
        display: none;
        @include m.desktop {
            display:flex;
            flex-direction: column;
            grid-area: 2rem;
        }
        height: 100%;
        border: solid 1px rgb(8, 168, 56);
    }

}