@use 'base/variables' as v;
@use 'base/mixins' as m;


.secciones {
    background-color: v.$blanco;
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &__campo {
        display: flex;
        align-items: center;
        gap: 2rem;

        & p {
            font-size: 1.2rem;

            @include m.desktop {
                font-size: 1.6rem;
            }
        }

        & img {
            width: 3rem;

            @include m.tablet {
                width: 2rem;
            }
        }
    }
}

.seccionesMobile {
    background-color: v.$blanco;
    border-radius: .5rem;
    padding: 2rem;
    gap: 3rem;
    @include m.tablet {
        display: none;
    }
    &__campo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & span {
            display: flex;
            align-items: center;
            gap: 2rem;
        }

        & img {
            width: 2rem;

        }

        img.triangulo {
            rotate: 180deg;
        }
    }
}

