@use 'base/variables' as v;
@use 'Base/mixins' as m;


/* Banner */
.banner {
    display: none;
    margin: 0;
    padding: .5rem;
    width: 100%;
    background-color: v.$primario;

    &__texto{
        color: v.$blanco;
        font-weight: bold;
    }
}

@include m.telefono{
    .banner {
        display: block;
    }
}
