@use 'base/variables' as v;
@use 'base/mixins' as m;


/* Header */

.header {
    background-color: v.$fondoSecundario;
    height: 6.5rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &__logo p {
        color: v.$blanco;
        font-weight: v.$bold;
        font-family: v.$fuente__secundario;
        font-size: 2rem;
        width: 20%;
    }

    &__navegacion {
        display: flex;
        justify-content: space-between;
        width: 80%;

        & a {
            color: gray;
            font-weight: v.$delgada;
            text-transform: uppercase;
            font-size: 1.4rem;
            margin-right: 2rem;
        }


    }
}

@include m.telefono {
    .header {
        padding: 2rem 5rem;

        &__logo p {
            font-size: 3rem;
        }
    }

}




.navegacion__enlace:hover {
    color: v.$blanco;
    transition: all 0.45s ease;
}

.navegacion__bloque1,
.navegacion__bloque2 {
    display: none;
}

.navegacion__bloque2 a:last-child {
    font-weight: v.$bold;
    color: v.$blanco;
    


}

.navegacion__bloque2 a:hover:last-child {
    color: v.$primario;
}

.navegacion__mobil {
    & img {
        width: 5rem;
        display: flex;
    }

}

.header__navegacionMobile {
    position: fixed;
    background-color: v.$fondoSecundario;
    height: 100%;
    width: 70%;
    padding: 3rem 0;
    top: 0;
    right: 0;
}

.navegacion__enlace--cerrar img {
    width: 4rem;
}

.navegacionMobile__menu {
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    width: 100%;

    & a {
        color: gray;
        font-size: 1.8rem;
        padding: 1rem;

    }

}



.navegacionMobile__menu a:hover:not(:first-child) {
    background-color: v.$blanco;
    width: 100%;
    color: v.$negro;
    text-align: left;
}

@include m.tablet{
    .navegacion__mobil {
        display: none;
    }


    .navegacion__bloque1,
    .navegacion__bloque2 {
        display: flex;
    }
}
