@use 'base/variables' as v;
@use 'base/mixins' as m;



.header__login{
    display: flex;
    margin-bottom: 30rem;

    &__dos{
        margin-bottom: 25rem;
    }
}



@include m.desktop{
    .header__login{
        display: none;
        margin: 0;
        
    }
}
.loginCandidato{
    display: grid;
    grid-template-rows: repeat(2, 40% 60%);

    height: 50rem;

    &__izquierda{
        display: none;
        background-image: url('../img/bg-verde.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; 
        padding: 5rem;
    }
    @include m.desktop{
        height: 100vh;
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 40% 60%);
        &__izquierda{
            display: flex;
        }
    }
    
    &__derecha{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        margin: 0 auto;
        width: 75%;
    }

    &__logo{
        color: v.$blanco;
        font-size: 3rem;
        font-family: v.$fuente__secundario;
        font-weight: v.$bold;
    }
}


.loginCandidato{
    
    &__empresa{
        text-align: right;
        
        & a{
            text-decoration: underline;
            color: v.$primario;
        }
    }

    &__TextoBienvenida{
        line-height: 1;
    }

}



.Banner__empresa{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    background-color: #0c643288;
    padding: 1rem 3rem;
    border-radius: .5rem;

    & img{
        width: 3rem;
    }
    & p{
        color: v.$blanco;
    }

    & a{
        color: v.$primario;
        text-decoration: underline;
    }
}



.loginCandidato__botones{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
}

.login__recordar a{
    color: v.$primario;
    width: 15rem;
}
.registrar a{
    color:  v.$primario;
}

.login__recordar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.recordar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    align-items: center;
    margin-top: 2rem;
}

.login__botones {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.google {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: v.$negro;
    border: 1px solid #707070;
    padding: 1rem;

    & img{
        width: 3rem;
    }
}


.registrar {
    text-align: center;
    margin-top: 3rem;
}

@include m.desktop{
    .registrar {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}
