@use 'base/variables' as v;
@use 'base/mixins' as m;

.principal__educacion {
    &__contenedor {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    &__card {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        background-color: v.$blanco;
        border-radius: .5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;

        & img {
            width: 5rem;
        }

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }

    p.educacion__institucion {
        font-weight: v.$bold;
        font-size: 1.6rem;
    }

    p.educacion__carrera {
        font-size: 1.4rem;
    }

    p.educacion__periodo {
        font-size: 1.2rem;
        color: #707070;
        font-style: italic;
    }
}
