@use 'base/variables' as v;
@use 'base/mixins' as m;

.entrada__blog {
    margin-bottom: 5rem;
    height: auto;
    padding: 2rem;

    width: 38rem;
}

h3.entrada__titulo {
    padding: 0;
    margin: 0;
    font-size: 2rem;
}

.entrada__blog__cards {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.entrada__blog__card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 2rem;
}

.entrada__blog__card:hover {
    cursor: pointer;
}

.entrada__blog__card img {
    width: 8rem;
    border-radius: .5rem;
}

.card__info {
    line-height: 1.5;
}
