@use 'base/variables' as v;
@use 'base/mixins' as m;

.entrada__blog {
  margin-bottom: 5rem;
  height: auto;
  padding: 2rem;
  width: 38rem;
}

h3.entrada__titulo {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

p.card__info__titulo {
  color: v.$negro;
  font-weight: v.$bold;
}

p.card__info__autor {
  color: v.$negro;
  font-style: italic;

  & span {
    color: v.$primario;
    font-style: normal;
  }
}

p.card__info__descripcion {
  color: v.$negro;
}

hr {
  width: 100%;
}

.entrada__blog__cards {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.entrada__blog__card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 2rem;
  position: relative; /* Agrega posición relativa para poder aplicar el pseudo-elemento ::before */
  transition: transform 0.2s ease-in-out; /* Añade una transición para el efecto hover */
}

.entrada__blog__card:hover {
  cursor: pointer;
  transform: scale(1.05); /* Efecto de escala al hacer hover */
}

.entrada__blog__card::before {
  content: '';
  position: absolute;
  border: solid v.$primario 1px;
  height: 8rem;
  top: -1rem; /* Ajusta la posición del borde */
  left: -1rem; /* Ajusta la posición del borde */
}

.entrada__blog__card img {
  width: 8rem;
  height: 8rem;
  border-radius: 0.5rem;
}

.card__info {
  line-height: 1.5;
}
