// Estilos de la tabla
.idiomas__tabla {
    border-collapse: collapse; // Cambiamos a 'collapse' para eliminar las divisiones entre celdas
    width: 100%;
    display: flex;
    justify-content: space-between;
    
  
    // Estilos de las celdas de la tabla
    td {
      padding: 10px; // Ajusta este valor según el espacio deseado dentro de las celdas
      text-align: center;
      border: 1px solid transparent; // Agregamos un borde transparente para ocultar las divisiones
     
  
      // Estilos específicos para cada tipo de celda
      &.idiomas__celda--idioma {
        background-color: #f1f1f1;
      }
  
      &.idiomas__celda--nivel {
        background-color: #f9f9f9;
      }
  
      &.idiomas__celda--eliminar {
        background-color: #ffe5e5;
  
        // Estilos para la imagen de eliminar
        img {
          width: 24px; // Ajusta el tamaño de la imagen según tus necesidades
          height: 24px;
        }
      }
    }
  }
  