@use 'base/variables' as v;
@use 'base/mixins' as m;


.principal__proyectos__contenedor{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include m.tablet{
        display: grid;
        grid-template-columns: repeat(2, 20rem);
        gap: 2rem;
    }

    @include m.desktop{
        grid-template-columns: repeat(3, 20rem);
    }
}

.principal__proyectos__card{
    width: 20rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: -2rem;
    margin-bottom:2rem;
    border-radius: .5rem;

    & img{
        width: 20rem;
        height: 10rem;
        filter: brightness(0.5);
        width: 100%;
        border-radius: .5rem;
    }

    & p{
        color: v.$blanco;
        margin-top: -6rem;
        z-index: 0;
    }
}

