
@use 'base/variables' as v;
@use 'Base/mixins' as m;


.headerEmpresa{
   
    background-color: v.$fondoSecundario;

    &__contenedor{
        display: flex;
        flex-direction: column;
        
    }

    &__encabezado{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5rem;

    }
    
}
.headerEmpresa {
    &__logo a{
        color: v.$blanco;
        font-size: 2rem;
        font-weight: v.$bold;
        font-family: v.$fuente__secundario;
    }

    &__datos{
        display: flex;
        align-items: center;
        gap:  5rem;

        & p{
            font-style: italic;
            color: v.$blanco;
            font-size: 1.4rem;
        }
        
    }
    &__notificaciones{
        display: flex;
        gap: 2rem;
        & img{
            width: 2rem;
        }
    }

    &__perfil{
        width: auto;
        display: flex;
        align-items: center;
        gap: 1rem;
        & img{
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: solid 1px v.$blanco;
        }
        & p{
            color: v.$blanco;
        }
        & svg{
          fill: v.$blanco;
          stroke: v.$blanco;
        }
    }
    

}

.headerEmpresa{

    &__navegacion{
        border-top: solid 1px v.$primario;
        padding: 2rem 5rem;
        
    }

    &__menu{
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin:  0 auto;
    }
    &__enlace{
        color: v.$blanco;
        padding-bottom: .5rem;
        border-bottom: 1px solid transparent; /* Borde transparente en reposo */

        &:hover{
            border-bottom: v.$primario solid 1px;

        }
    }
}

.border-botom{
    border-bottom: v.$primario solid 1px;
}